:root {
  --font-size-text: 1.4rem;
  --main-color: #f7f9f9;
  --secondary-color: #ecf0f1;
  --bg-color-input-cont: #b3b6b7;
  --bg-input-color: #fff;
  --bg-color-current: #f2f3f4;
  --color-text: #000;
  --border-map-cont: #d7dbdd;
  --bg-icon-color: #b3b6b7;
  --filter-map: 1;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color-current);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border-hour-cont);
  border-radius: 10px;
  border: 2px solid #808b96;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-text);
  color: var(--color-text);
}
body.dark-mode {
  --color-text: #eaecee;
  --main-color: #212f3d;
  --secondary-color: #17202a;
  --bg-color-input-cont: #17202a;
  --bg-input-color: #5d6d7e;
  --bg-color-current: #1c2833;
  --border-map-cont: #17202a;
  --bg-icon-color: #212f3d;
  --filter-map: 0.9;
  background-color: var(--main-color);
}
.container-input {
  width: 100%;
  height: 80px;
  background-color: var(--bg-color-input-cont);
}
.container-input form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-input form input {
  background-color: var(--bg-input-color);
  color: var(--color-text);
  width: 70%;
  padding: 5px 10px;
  outline: none;
  border: none;
  text-align: center;
  font-size: var(--font-size-text);
}
.container-input form input::placeholder {
  color: #c0c0c0;
}
.checkbox {
  background-color: var(--bg-color-input-cont);
  height: 80px;
  width: 15%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}
#btn-dark-mode {
  cursor: pointer;
}

.container-weather-current {
  background-color: var(--bg-color-current);
  width: 100%;
  height: auto;
  border: 1px solid var(--bg-color-current);
}
.weather-current-day {
  width: 100%;
  text-align: center;
}
.date-hour {
  font-size: var(--font-size-text);
  color: var(--color-text);
  text-align: center;
  padding: 10px 0px 30px;
}
.name-city {
  padding-bottom: 60px;
}
.temp {
  padding: 40px 0px;
}
.icon {
  width: 80px;
  height: 80px;
  background-color: var(--bg-icon-color);
  margin: auto;
  margin-top: -25px;
  -webkit-box-shadow: 0px 0px 25px 0px #000;
  box-shadow: 0px 0px 5px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon i {
  font-size: 40px;
  color: var(--color-text);
}

.container-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.weather-current-map {
  width: 90%;
  height: 250px;
  margin: 10px auto;
  border: 2px solid var(--border-hour-cont);
  filter: brightness(var(--filter-map));
}
.weather-daily {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.error {
  text-align: center;
  padding-top: 20px;
}
.carousel-of-days {
  width: 90%;
  height: auto;
  margin: 20px auto;
  display: flex;
  overflow-x: auto;
}
.container-day {
  background-color: var(--color-white);
  max-width: 220px;
  min-width: 220px;
  margin: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 0px #000;
  box-shadow: 0px 0px 5px 0px #000;
}
.city-icon {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  -webkit-box-shadow: 0px 14px 37px -30px #000;
  box-shadow: 0px 14px 37px -30px #000;
}
.city-icon span {
  padding-top: 10px;
}
.city-icon img {
  width: 70px;
  height: 70px;
  margin: 10px auto;
  -webkit-box-shadow: 0px 0px 25px 0px #000;
  box-shadow: 0px 0px 5px 0px #000;
  background-color: var(--bg-icon-color);
}
.info-day {
  padding: 20px;
}
.temp-humidity {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.temp-humidity div {
  width: 80px;
}
.temp-humidity img {
  width: 20px;
  height: 20px;
}
i {
  color: var(--color-text);
  padding-left: 5px;
}
@media (min-width: 1024px) {
  .container-input {
    width: 70%;
    position: fixed;
    right: 0;
  }
  .container-weather-current {
    width: 30%;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    position: fixed;
  }
  .name-city {
    padding-bottom: 60px;
  }
  .temp {
    padding: 40px 0px;
  }
  .weather-current-day {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .weather-current-map {
    margin: 20px auto 50px auto;
  }
  .weather-daily {
    margin-top: 80px;
    height: auto;
    width: 70%;
    float: right;
  }
  .error {
    position: relative;
    width: 70%;
    float: right;
    top: 80px;
  }
  .carousel-of-days {
    /* margin-top: 100px; */
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .carousel-of-days div {
    margin: 10;
  }
}
@media (min-width: 1500px) {
  .carousel-of-days {
    width: 70%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --color-text: #eaecee;
    --main-color: #212f3d;
    --secondary-color: #17202a;
    --bg-color-input-cont: #17202a;
    --bg-input-color: #5d6d7e;
    --bg-color-current: #1c2833;
    --border-map-cont: #17202a;
    --bg-icon-color: #212f3d;
    --filter-map: 0.9;
    background-color: var(--main-color);
  }

  body.light-mode {
    --font-size-text: 1.4rem;
    --main-color: #f7f9f9;
    --secondary-color: #ecf0f1;
    --bg-color-input-cont: #b3b6b7;
    --bg-input-color: #fff;
    --bg-color-current: #f2f3f4;
    --color-text: #000;
    --border-map-cont: #d7dbdd;
    --bg-icon-color: #b3b6b7;
    --filter-map: 1;
  }
}
