:root{
    --font-size-text: 1.4rem;
}
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #dddddd;
}

*::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-text);
}
.container-input{
    width: 100%;
    height: 80px;
    background-color: rebeccapurple;
}
.container-input form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-input form input{
    width: 70%;
    padding: 5px 10px;
    outline: none;
    border: none;
    text-align: center;
    font-size: var(--font-size-text);
}
.checkbox{
    background-color: red;
    height: 80px;
    width: 15%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
}
.checkbox img{
    width: 30px;
    height: 30px;
}
.checkbox img:hover{
    cursor: pointer;
}
.container-weather-current{
    background-color: aqua;
    width: 100%;
    height: auto;
    border: 1px solid aqua;
}
.weather-current-day{
    width: 100%;
    background-color: bisque;
    text-align: center;
}
.name-city{
    padding: 40px 0px;
}
.temp{
    padding: 40px 0px;
}
.container-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.weather-current-hour{
    width: 90%;
    height: 100px;
    background-color: red;
    margin: 10px auto;
}
.weather-daily{
    width: 100%;
    height: auto;
    background-color: blue;
    border: 1px solid blue
}
.carousel-of-days{
    width: 90%;
    height: auto;
    margin: 20px auto; 
    background-color: yellow;
    display: flex;
    overflow-x: auto;
}
.container-day{
    background-color: red;
    margin: 10px;
    text-align: center;
}
.city-icon{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}
.info-day{
    padding: 20px;
}
.temp-humidity{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rebeccapurple; */
    margin-bottom: 20px;
}
.temp-humidity div{
    width: 80px;
    /* margin: 0px 10px; */
}
.temp-humidity img{
    width: 20px;
    height: 20px;
}
@media( min-width: 768px ){
    .container-weather-current{
        width: 90%;
        margin: auto;
    }
}
@media( min-width: 1024px ){
    .container-input{
        width: 70%;
        float: right;
        position: relative;
    }
    .container-weather-current{
        width: 30%;
        height: 100vh;
        float: left;
        display: flex;
        flex-direction: column;
    }
    .name-city{
        padding: 100px 0px;
    }
    .temp{
        padding: 100px 0px;
    }
    .weather-current-day{
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .weather-current-hour{
        height: 20%;
    }
    .weather-daily{
        margin-top: -80px;
        height: 100vh;
        width: 70%;
        float: right;
    }
    .carousel-of-days{
        margin-top: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .carousel-of-days div{
        margin: 0;
    }
}
@media( min-width: 1500px ){
    .carousel-of-days{
        width: 70%;
    }
}